.disable_true {
    background-color: grey;
}

.status_CREATED {
    background-color: antiquewhite;
}

.status_APPROVED {
    background-color: forestgreen;
}

.status_DECLINED {
    background-color: indianred;
}

.tableWithBorder {
    border: 2px solid cadetblue;
}
.tableWithBorder tbody tr th {
    border: 2px solid cadetblue;
}
.tableWithBorder tbody tr td {
    border: 1px solid darkcyan;
}