<!doctype html>
<html>
<head>
    {{>meta}}
</head>
<body>
{{>header}}

<br>
Заполните данные оператора

<form method="post" action="/admin/addUser">
    <table>

        <tbody>
        <tr>
            <td>Логин</td>
            <td><input name="login"></td>
        </tr>
        <tr>
            <td>Пароль</td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td>ФИО</td>
            <td><input type="text" name="fio"></td>
        </tr>
        <tr>
            <td>Роль</td>
            <td><select name="role">
                <option selected="selected" label="Инспектор" value="INSPECTOR"></option>
                <option label="Эксперт" value="EXPERT"></option>
            </select>

            </td>
        </tr>
        </tbody>
    </table>
    <input type="submit" value="Создать">
</form>
</body>
</html>