<!doctype html>
<html>
<head>
    {{>meta}}
</head>
<body>
{{>header}}

<h3>Пользователи:</h3>
<table class="tableWithBorder">
    <tbody>
    <tr>
        <th>Логин</th>
        <th>ФИО</th>
        <th>Роль</th>
        <th>Статус</th>
        <th>Действия</th>
    </tr>
    {{#users}}

    <tr class="disable_{{disable}}">
        <td>{{login}}</td>
        <td>{{fio}}</td>
        <td>{{role}}</td>
        <td>{{#disable}}Заблокирован{{/disable}}{{^disable}}Активен{{/disable}}</td>
        <td>{{^disable}}
            <form action="/admin/lockUser" method="post">
                <input name="id" hidden="hidden" value="{{id}}"/>
                <input type="submit" value="Заблокировать">
            </form>
            {{/disable}}
        </td>
    </tr>
    {{/users}}
    {{^users}}
    <tr>
        <td colspan="5">Пользователей нет</td>
    </tr>
    {{/users}}
    </tbody>
</table>
<a href="/admin/addUser.html">Добавить пользователя</a>
</body>
</html>