<!doctype html>
<html>
<head>
    {{>meta}}
</head>
<body>

{{>header}}
<br>
Заполните данные заявки

<form method="post" action="createDocument.html">
    <table>

        <tbody>
        <tr>
            <td>ИНН</td>
            <td><input name="inn"></td>
        </tr>
        <tr>
            <td>Наименование организации</td>
            <td><input type="text" name="orgName"></td>
        </tr>
        <tr>
            <td>Адрес</td>
            <td><input name="address"></td>
        </tr>
        </tbody>
    </table>
    <input type="submit" value="Создать">
</form>
</body>
</html>