<!doctype html>
<html>
<head>
    {{>meta}}
</head>
<body>

{{>header}}
<br>
Данные заявки
{{#doc}}
<table>
    <tbody>
    <tr>
        <td>Входящий</td>
        <td>{{income}}</td>
    </tr>
    <tr>
        <td>ИНН</td>
        <td>{{inn}}</td>
    </tr>
    <tr>
        <td>Наименование организации</td>
        <td>{{orgName}}</td>
    </tr>
    <tr>
        <td>Адрес организации</td>
        <td>{{address}}</td>
    </tr>
    <tr>
        <td>Ответсвенный оператор</td>
        <td>{{inspectorFio}}</td>
    </tr>
    <tr>
        <td>Время создания</td>
        <td>{{createTs}}</td>
    </tr>
    <tr>
        <td>Ответсвенный эксперт</td>
        <td>{{expertFio}}</td>
    </tr>
    <tr>
        <td>Время окончания экспертизы</td>
        <td>{{endTs}}</td>
    </tr>
    <tr>
        <td>Статус</td>
        <td class="status_{{status}}">{{status}}</td>
    </tr>
    <tr>
        <td>Номер выданной лицензии</td>
        <td>{{licenceNumber}}</td>
    </tr>
    <tr>
        <td>Причина отказа</td>
        <td>{{declineReason}}</td>
    </tr>
    </tbody>
</table>
{{#allowExpertOperation}}
<form action="/approveDoc.html" method="post">
    <input name="id" value="{{id}}" hidden="hidden"/>
    <input name="licenseNumber" value="Номер лицензии"/>
    <input type="submit" value="Выдать лицензию"/>
</form>

<form action="/declineDoc.html" method="post">
    <input name="id" value="{{id}}" hidden="hidden"/>
    <input name="reason" value="Причина отказа"/>
    <input type="submit" value="Отказать в лицензии"/>
</form>

{{/allowExpertOperation}}
{{/doc}}
</body>
</html>