<table>
    <tr>
        {{#userDetails}}
        <td><a href="/index.html">Документы</a></td>
        {{/userDetails}}
        {{#roleAdmin}}
        <td>
            <a href="/admin/index.html">Административная панель</a>
        </td>
        {{/roleAdmin}}
        <td>
            <div></div>
        </td>
        <td>
            {{#userDetails}}
            Вы вошли как {{username}}. <a href="/logout">Выйти из системы</a>
            {{/userDetails}}
            {{^userDetails}}
            <a href="/login.html">Войти в систему</a>
            {{/userDetails}}
        </td>
    </tr>
</table>

