<!doctype html>
<html>
<head>
    {{>meta}}
</head>
<body>
{{>header}}

{{#roleAdmin}}
{{/roleAdmin}}
{{^roleAdmin}}
<table class="tableWithBorder docTable">
    <tbody>
    <tr>
        <th>Входящий</th>
        <th>ИНН</th>
        <th>Наименование организации</th>
        <th>Адрес организации</th>
        <th>Ответсвенный оператор</th>
        <th>Время создания</th>
        <th>Ответсвенный эксперт</th>
        <th>Время окончания экспертизы</th>
        <th>Статус</th>
        <th>Номер выданной лицензии</th>
        <th>Причина отказа</th>
        <th>Действия</th>
    </tr>
    {{#docs}}
    <tr class="status_{{status}}">
        <td>{{income}}</td>
        <td>{{inn}}</td>
        <td>{{orgName}}</td>
        <td>{{address}}</td>
        <td>{{inspectorFio}}</td>
        <td>{{createTs}}</td>
        <td>{{expertFio}}</td>
        <td>{{endTs}}</td>
        <td>{{status}}</td>
        <td>{{licenceNumber}}</td>
        <td>{{declineReason}}</td>
        <td><a href="/doc/{{id}}">Открыть</a></td>
    </tr>
    {{/docs}}
    {{^docs}}
    <tr>
        <td colspan="12">Документы отсутствуют</td>
    </tr>
    {{/docs}}
    </tbody>
</table>

{{#roleInspector}}
<form method="get" action="/createDocument.html">
    <input type="submit" value="Создать заявку">
</form>
{{/roleInspector}}
{{/roleAdmin}}


</body>
</html>