<!doctype html>
<html>
<head>
    {{>meta}}
</head>
<body>
{{>header}}
<br>
{{#customMessage}}
{{.}}
{{/customMessage}}
{{^customMessage}}
Операция завершена успешно
{{/customMessage}}


</body>
</html>